.menu-items {
  display: flex !important;
  align-items: center;
  height: 40px;
  background-color: #eee !important;
}

.menu-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-items-ico {
  height: 40px;
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #337ab7;
}
