.pt-space-top {
	padding-top: 70px;
}
.pt-space-top-50 {
	padding-top: 50px;
}
.pt-box-out-box {
	max-width: 1170px;
  margin: 0px auto;
}
.pt-box-item {
	text-decoration: none;
	cursor: pointer;
}

.pt-box-menu-container .item-active {
	text-decoration: none;
	background-color: #eee !important;
}

.pt-box-item:hover {
	text-decoration: none !important;
	cursor: pointer;
}

.pt-box-menu-container {
	padding: 0px;
	margin: 0px;
}

.pt-margin-top-title {
	margin: 15px 0 20px;
}

.pt-reset-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.pt-reset-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.pt-text-center {
	text-align: center;
}

.pt-text-right {
	text-align: right;
}

.pt-text-left {
	text-align: left;
}

.pt-button-left {
	float: right;
	height: 44px;
	margin-top: -12px;
	padding-top: 12px;
}
.pt-upper-case {
	text-transform: uppercase;
}

.pt-margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.pt-button-12 {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 10px;
}

.pt-btn-space {
	margin-right: 15px;
	min-width: 100px;
}

.menu-active {
	background-color: #4a4a4a;
	color: #FFF !important;
}

.pt-100px {
	min-height: 150px;
	max-width: 220px;
}

.pt-header-zindex {
	z-index: 900 !important;
}

.pt-width-modal {
	width: 700px;
}

.form-lbl-error {
	height: 0px;
  display: block;
  color: transparent;
	transition: all 0.4s linear 0.1s;
}
.form-lbl-error.active {
	height: 20px;
	color: #a94442;
}

.float-right {
	float: right;
}

.pt-resize-none {
	resize: vertical;
}

.pt-hidden {
	visibility: hidden;
	height: 0px;
	margin: 0px;
}

footer {
	border-top: 1px solid #ededed;
	float: left;
	width: 100%;
	margin-top: 25px;
}

footer .thumbnail {
	border: 0px !important;
	text-align: center;
}

footer i {
	margin: 0px 5px;
}

.capitalize {
	text-transform: capitalize;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
