@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6kpcxy');
  src:  url('fonts/icomoon.eot?6kpcxy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6kpcxy') format('truetype'),
    url('fonts/icomoon.woff?6kpcxy') format('woff'),
    url('fonts/icomoon.svg?6kpcxy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dropbox:before {
  content: "\e900";
  color: #0061ff;
}
.icon-microsoft:before {
  content: "\e901";
  color: #666;
}
.icon-bigcartel:before {
  content: "\e902";
}
.icon-microsoftword:before {
  content: "\e903";
  color: #2b579a;
}
.icon-javascript:before {
  content: "\e904";
  color: #f7df1e;
}
.icon-linux:before {
  content: "\e905";
  color: #fcc624;
}
.icon-gmail:before {
  content: "\e906";
  color: #d14836;
}
.icon-android:before {
  content: "\e907";
  color: #a4c639;
}
.icon-khanacademy:before {
  content: "\e908";
  color: #9db63b;
}
.icon-microsoftexcel:before {
  content: "\e909";
  color: #217346;
}
.icon-gitlab:before {
  content: "\e90a";
  color: #e24329;
}
.icon-koding:before {
  content: "\e90b";
  color: #00b057;
}
.icon-moo:before {
  content: "\e90c";
  color: #00945e;
}
.icon-java:before {
  content: "\e90d";
  color: #007396;
}
.icon-github:before {
  content: "\e90e";
}
.icon-jquery:before {
  content: "\e90f";
  color: #0769ad;
}
.icon-node-dot-js:before {
  content: "\e910";
  color: #393;
}
.icon-myspace:before {
  content: "\e911";
}
.icon-sparkpost:before {
  content: "\e912";
  color: #fa6423;
}
.icon-microsoftpowerpoint:before {
  content: "\e913";
  color: #d24726;
}
.icon-wikipedia:before {
  content: "\e914";
}
.icon-gnu:before {
  content: "\e915";
  color: #a42e2b;
}
.icon-npm:before {
  content: "\e916";
  color: #cb3837;
}
.icon-internetexplorer:before {
  content: "\e917";
  color: #0076d6;
}
.icon-fitbit:before {
  content: "\e9e7";
  color: #00b0b9;
}
.icon-angular:before {
  content: "\e9e8";
  color: #dd0031;
}
.icon-nucleo:before {
  content: "\e9e9";
  color: #766dcc;
}
.icon-python:before {
  content: "\e9ea";
  color: #3776ab;
}
.icon-docker:before {
  content: "\e9eb";
  color: #1488c6;
}
.icon-git:before {
  content: "\e9ec";
  color: #f05032;
}
.icon-codeforces:before {
  content: "\e9ed";
  color: #1f8acb;
}
.icon-asana:before {
  content: "\e9ee";
}
.icon-spotify:before {
  content: "\e9ef";
  color: #1ed760;
}
.icon-superuser:before {
  content: "\e9f0";
  color: #2eace3;
}
.icon-html5:before {
  content: "\e9f1";
  color: #e34f26;
}
.icon-nextdoor:before {
  content: "\e9f2";
  color: #00b246;
}
.icon-googledrive:before {
  content: "\e9f3";
  color: #4386fc;
}
.icon-ubuntu:before {
  content: "\e9f4";
  color: #e95420;
}
.icon-codio:before {
  content: "\e9f5";
  color: #4574e0;
}
.icon-facebook:before {
  content: "\e9f6";
  color: #3b5998;
}
.icon-amazon:before {
  content: "\e9f7";
  color: #f90;
}
.icon-whatsapp:before {
  content: "\e9f8";
  color: #25d366;
}
.icon-php:before {
  content: "\e9f9";
  color: #777bb4;
}
.icon-mozillafirefox:before {
  content: "\e9fa";
  color: #ff9400;
}
.icon-redux:before {
  content: "\e9fb";
  color: #764abc;
}
.icon-youtube:before {
  content: "\e9fc";
  color: #f00;
}
.icon-codeigniter:before {
  content: "\e9fd";
  color: #ee4623;
}
.icon-microsoftedge:before {
  content: "\e9fe";
  color: #0078d7;
}
.icon-linkedin:before {
  content: "\e9ff";
  color: #0077b5;
}
.icon-googlechrome:before {
  content: "\ea00";
  color: #4285f4;
}
.icon-uikit:before {
  content: "\ea01";
  color: #2396f3;
}
.icon-react:before {
  content: "\ea02";
  color: #61dafb;
}
.icon-twitter:before {
  content: "\ea03";
  color: #1da1f2;
}
.icon-graphcool:before {
  content: "\ea04";
  color: #27ae60;
}
.icon-coderwall:before {
  content: "\ea05";
  color: #3e8dcc;
}
.icon-opera:before {
  content: "\ea06";
  color: #ff1b2d;
}
.icon-buffer:before {
  content: "\ea07";
  color: #168eea;
}
.icon-css3:before {
  content: "\ea08";
  color: #1572b6;
}
.icon-debian:before {
  content: "\ea09";
  color: #a81d33;
}
.icon-slack:before {
  content: "\ea0a";
  color: #56b68b;
}
.icon-skyliner:before {
  content: "\ea0b";
  color: #2fcea0;
}
.icon-messenger:before {
  content: "\ea0c";
  color: #0084ff;
}
.icon-mysql:before {
  content: "\ea0d";
  color: #4479a1;
}
.icon-dot-net:before {
  content: "\ea0e";
  color: #5c2d91;
}
.icon-atom:before {
  content: "\ea0f";
  color: #66595c;
}
.icon-sublimetext:before {
  content: "\ea10";
}
.icon-visualstudiocode:before {
  content: "\ea11";
  color: #007acc;
}
.icon-mixer:before {
  content: "\ea12";
  color: #002050;
}
.icon-add-outline:before {
  content: "\e918";
}
.icon-add-solid:before {
  content: "\e919";
}
.icon-align-justified:before {
  content: "\e91a";
}
.icon-align-left:before {
  content: "\e91b";
}
.icon-align-right:before {
  content: "\e91c";
}
.icon-arrow-down:before {
  content: "\e91d";
}
.icon-arrow-left:before {
  content: "\e91e";
}
.icon-arrow-outline-down:before {
  content: "\e91f";
}
.icon-arrow-outline-left:before {
  content: "\e920";
}
.icon-arrow-outline-right:before {
  content: "\e921";
}
.icon-arrow-outline-up:before {
  content: "\e922";
}
.icon-arrow-right:before {
  content: "\e923";
}
.icon-arrow-thick-down:before {
  content: "\e924";
}
.icon-arrow-thick-left:before {
  content: "\e925";
}
.icon-arrow-thick-right:before {
  content: "\e926";
}
.icon-arrow-thick-up:before {
  content: "\e927";
}
.icon-arrow-thin-down:before {
  content: "\e928";
}
.icon-arrow-thin-left:before {
  content: "\e929";
}
.icon-arrow-thin-right:before {
  content: "\e92a";
}
.icon-arrow-thin-up:before {
  content: "\e92b";
}
.icon-arrow-up:before {
  content: "\e92c";
}
.icon-at-symbol:before {
  content: "\e92d";
}
.icon-attachment:before {
  content: "\e92e";
}
.icon-backspace:before {
  content: "\e92f";
}
.icon-backward:before {
  content: "\e930";
}
.icon-backward-step:before {
  content: "\e931";
}
.icon-badge:before {
  content: "\e932";
}
.icon-battery-full:before {
  content: "\e933";
}
.icon-battery-half:before {
  content: "\e934";
}
.icon-battery-low:before {
  content: "\e935";
}
.icon-block:before {
  content: "\e936";
}
.icon-bookmark:before {
  content: "\e937";
}
.icon-bookmarkcopy2:before {
  content: "\e938";
}
.icon-bookmarkcopy3:before {
  content: "\e939";
}
.icon-bookmark-outline:before {
  content: "\e93a";
}
.icon-bookmark-outline-add:before {
  content: "\e93b";
}
.icon-border-all:before {
  content: "\e93c";
}
.icon-border-bottom:before {
  content: "\e93d";
}
.icon-border-horizontal:before {
  content: "\e93e";
}
.icon-border-inner:before {
  content: "\e93f";
}
.icon-border-left:before {
  content: "\e940";
}
.icon-border-none:before {
  content: "\e941";
}
.icon-border-outer:before {
  content: "\e942";
}
.icon-border-right:before {
  content: "\e943";
}
.icon-border-top:before {
  content: "\e944";
}
.icon-border-vertical:before {
  content: "\e945";
}
.icon-box:before {
  content: "\e946";
}
.icon-brightness-down:before {
  content: "\e947";
}
.icon-brightness-up:before {
  content: "\e948";
}
.icon-browser-window:before {
  content: "\e949";
}
.icon-browser-window-new:before {
  content: "\e94a";
}
.icon-browser-window-open:before {
  content: "\e94b";
}
.icon-bug:before {
  content: "\e94c";
}
.icon-calendar:before {
  content: "\e94d";
}
.icon-chart:before {
  content: "\e94e";
}
.icon-chart-bar:before {
  content: "\e94f";
}
.icon-chart-pie:before {
  content: "\e950";
}
.icon-chat-bubble-dots:before {
  content: "\e951";
}
.icon-checkmark:before {
  content: "\e952";
}
.icon-checkmark-outline:before {
  content: "\e953";
}
.icon-cheveron-down:before {
  content: "\e954";
}
.icon-cheveron-left:before {
  content: "\e955";
}
.icon-cheveron-outline-down:before {
  content: "\e956";
}
.icon-cheveron-outline-left:before {
  content: "\e957";
}
.icon-cheveron-outline-right:before {
  content: "\e958";
}
.icon-cheveron-outline-up:before {
  content: "\e959";
}
.icon-cheveron-right:before {
  content: "\e95a";
}
.icon-cheveron-up:before {
  content: "\e95b";
}
.icon-clipboard:before {
  content: "\e95c";
}
.icon-close:before {
  content: "\e95d";
}
.icon-close-outline:before {
  content: "\e95e";
}
.icon-close-solid:before {
  content: "\e95f";
}
.icon-cloud:before {
  content: "\e960";
}
.icon-cloud-upload:before {
  content: "\e961";
}
.icon-code:before {
  content: "\e962";
}
.icon-cog:before {
  content: "\e963";
}
.icon-color-palette:before {
  content: "\e964";
}
.icon-compose:before {
  content: "\e965";
}
.icon-conversation:before {
  content: "\e966";
}
.icon-copy:before {
  content: "\e967";
}
.icon-credit-card:before {
  content: "\e968";
}
.icon-currency-dollar:before {
  content: "\e969";
}
.icon-date-add:before {
  content: "\e96a";
}
.icon-dial-pad:before {
  content: "\e96b";
}
.icon-directions:before {
  content: "\e96c";
}
.icon-document:before {
  content: "\e96d";
}
.icon-document-add:before {
  content: "\e96e";
}
.icon-dots-horizontal-double:before {
  content: "\e96f";
}
.icon-dots-horizontal-triple:before {
  content: "\e970";
}
.icon-download:before {
  content: "\e971";
}
.icon-duplicate:before {
  content: "\e972";
}
.icon-edit-copy:before {
  content: "\e973";
}
.icon-edit-crop:before {
  content: "\e974";
}
.icon-edit-cut:before {
  content: "\e975";
}
.icon-edit-pencil:before {
  content: "\e976";
}
.icon-envelope:before {
  content: "\e977";
}
.icon-exclamation-outline:before {
  content: "\e978";
}
.icon-exclamation-solid:before {
  content: "\e979";
}
.icon-folder:before {
  content: "\e97a";
}
.icon-folder-outline:before {
  content: "\e97b";
}
.icon-folder-outline-add:before {
  content: "\e97c";
}
.icon-format-bold:before {
  content: "\e97d";
}
.icon-format-font-size:before {
  content: "\e97e";
}
.icon-format-italic:before {
  content: "\e97f";
}
.icon-format-text-size:before {
  content: "\e980";
}
.icon-format-underline:before {
  content: "\e981";
}
.icon-heart:before {
  content: "\e982";
}
.icon-home:before {
  content: "\e983";
}
.icon-inbox-full:before {
  content: "\e984";
}
.icon-indent-decrease:before {
  content: "\e985";
}
.icon-indent-increase:before {
  content: "\e986";
}
.icon-information-outline:before {
  content: "\e987";
}
.icon-information-solid:before {
  content: "\e988";
}
.icon-key:before {
  content: "\e989";
}
.icon-keyboard:before {
  content: "\e98a";
}
.icon-layers:before {
  content: "\e98b";
}
.icon-library:before {
  content: "\e98c";
}
.icon-link:before {
  content: "\e98d";
}
.icon-list:before {
  content: "\e98e";
}
.icon-list-add:before {
  content: "\e98f";
}
.icon-list-bullet:before {
  content: "\e990";
}
.icon-load-balancer:before {
  content: "\e991";
}
.icon-location:before {
  content: "\e992";
}
.icon-location-current:before {
  content: "\e993";
}
.icon-lock-closed:before {
  content: "\e994";
}
.icon-lock-open:before {
  content: "\e995";
}
.icon-menu:before {
  content: "\e996";
}
.icon-minus-outline:before {
  content: "\e997";
}
.icon-minus-solid:before {
  content: "\e998";
}
.icon-music-notes:before {
  content: "\e999";
}
.icon-music-playlist:before {
  content: "\e99a";
}
.icon-navigation-more:before {
  content: "\e99b";
}
.icon-network:before {
  content: "\e99c";
}
.icon-news-paper:before {
  content: "\e99d";
}
.icon-notification:before {
  content: "\e99e";
}
.icon-notifications:before {
  content: "\e99f";
}
.icon-notifications-outline:before {
  content: "\e9a0";
}
.icon-paste:before {
  content: "\e9a1";
}
.icon-pause:before {
  content: "\e9a2";
}
.icon-pause-outline:before {
  content: "\e9a3";
}
.icon-pause-solid:before {
  content: "\e9a4";
}
.icon-pen-tool:before {
  content: "\e9a5";
}
.icon-phone:before {
  content: "\e9a6";
}
.icon-photo:before {
  content: "\e9a7";
}
.icon-pin:before {
  content: "\e9a8";
}
.icon-play:before {
  content: "\e9a9";
}
.icon-play-outline:before {
  content: "\e9aa";
}
.icon-playlist:before {
  content: "\e9ab";
}
.icon-plugin:before {
  content: "\e9ac";
}
.icon-pylon:before {
  content: "\e9ad";
}
.icon-question:before {
  content: "\e9ae";
}
.icon-queue:before {
  content: "\e9af";
}
.icon-radio:before {
  content: "\e9b0";
}
.icon-refresh:before {
  content: "\e9b1";
}
.icon-reload:before {
  content: "\e9b2";
}
.icon-reply:before {
  content: "\e9b3";
}
.icon-reply-all:before {
  content: "\e9b4";
}
.icon-repost:before {
  content: "\e9b5";
}
.icon-save-disk:before {
  content: "\e9b6";
}
.icon-screen-full:before {
  content: "\e9b7";
}
.icon-search:before {
  content: "\e9b8";
}
.icon-send:before {
  content: "\e9b9";
}
.icon-servers:before {
  content: "\e9ba";
}
.icon-share:before {
  content: "\e9bb";
}
.icon-share-01:before {
  content: "\e9bc";
}
.icon-share-alt:before {
  content: "\e9bd";
}
.icon-shield:before {
  content: "\e9be";
}
.icon-shuffle:before {
  content: "\e9bf";
}
.icon-stand-by:before {
  content: "\e9c0";
}
.icon-star-full:before {
  content: "\e9c1";
}
.icon-step-backward:before {
  content: "\e9c2";
}
.icon-step-forward:before {
  content: "\e9c3";
}
.icon-stethoscope:before {
  content: "\e9c4";
}
.icon-stroke-width:before {
  content: "\e9c5";
}
.icon-subdirectory-left:before {
  content: "\e9c6";
}
.icon-subdirectory-right:before {
  content: "\e9c7";
}
.icon-swap:before {
  content: "\e9c8";
}
.icon-tag:before {
  content: "\e9c9";
}
.icon-text-decoration:before {
  content: "\e9ca";
}
.icon-thumbs-down:before {
  content: "\e9cb";
}
.icon-thumbs-up:before {
  content: "\e9cc";
}
.icon-trophy:before {
  content: "\e9cd";
}
.icon-tuning:before {
  content: "\e9ce";
}
.icon-upload:before {
  content: "\e9cf";
}
.icon-usb:before {
  content: "\e9d0";
}
.icon-user:before {
  content: "\e9d1";
}
.icon-user-add:before {
  content: "\e9d2";
}
.icon-user-group:before {
  content: "\e9d3";
}
.icon-user-solid-circle:before {
  content: "\e9d4";
}
.icon-user-solid-square:before {
  content: "\e9d5";
}
.icon-view-carousel:before {
  content: "\e9d6";
}
.icon-view-column:before {
  content: "\e9d7";
}
.icon-view-hide:before {
  content: "\e9d8";
}
.icon-view-list:before {
  content: "\e9d9";
}
.icon-view-show:before {
  content: "\e9da";
}
.icon-view-tile:before {
  content: "\e9db";
}
.icon-volume-down:before {
  content: "\e9dc";
}
.icon-volume-mute:before {
  content: "\e9dd";
}
.icon-volume-off:before {
  content: "\e9de";
}
.icon-volume-up:before {
  content: "\e9df";
}
.icon-window:before {
  content: "\e9e0";
}
.icon-window-new:before {
  content: "\e9e1";
}
.icon-window-open:before {
  content: "\e9e2";
}
.icon-wrench:before {
  content: "\e9e3";
}
.icon-yin-yang:before {
  content: "\e9e4";
}
.icon-zoom-in:before {
  content: "\e9e5";
}
.icon-zoom-out:before {
  content: "\e9e6";
}
